.date-picker-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date-input-wrapper {
  display: flex;
  // flex-direction: column;
}

.date-input-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #2e3192;
}

.date-input-field {
  padding: 8px 2px;
  border: 1px solid #ccc;
  background-color: #eef1f8;
  border-radius: 4px;
  font-size: clamp(14px, 1.5vw, 18px);
  color: #333;

  &:focus {
    outline: none;
    border-color: #2e3192;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .date-picker-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .date-input-wrapper {
    display: flex;
    flex-direction: column;
    // border: 1px solid violet;
    width: 50%;
  }
  .date-input-field {
    padding: 4px 2px;
    border: 1px solid #ccc;
    background-color: #eef1f8;
    border-radius: 4px;
    font-size: clamp(18px, 1.4vw, 24px);
    color: #333;
    width: 100%; // use full container width responsibly
    flex: 1;
    // margin: 2%;
    &:focus {
      outline: none;
      border-color: #2e3192;
    }
  }
}
@media (max-width: 599px) {
  .date-picker-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .date-input-wrapper {
    display: flex;
    flex-direction: column;
    // border: 1px solid violet;
    width: 50%;
  }
  .date-input-field {
    padding: 2px 2px;
    border: 1px solid #ccc;
    background-color: #eef1f8;
    border-radius: 4px;
    font-size: clamp(14px, 1.4vw, 18px);
    color: #333;
    width: 100%; // use full container width responsibly
    flex: 1;
    // margin: 2%;
    &:focus {
      outline: none;
      border-color: #2e3192;
    }
  }
}
